---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import blogthumb from "@images/blog-thumb.jpeg";
const blogData = [
  {
    thumb: blogthumb,
    title: "Look At The Ketamine Experiment On The Sheep’s Brain ",
    date: "MAY 9, 2021",
    description: "During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.",
    linkto: "#",
  },
  {
    thumb: blogthumb,
    title: "Look At The Ketamine Experiment On The Sheep’s Brain ",
    date: "MAY 9, 2021",
    description: "During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.",
    linkto: "#",
  },
  {
    thumb: blogthumb,
    title: "Look At The Ketamine Experiment On The Sheep’s Brain ",
    date: "MAY 9, 2021",
    description: "During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.",
    linkto: "#",
  },
];
---

<Layout title="Blog">
  <Header />
  <!-- Card Blog -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Blog</h2>
      <p class="mt-1 text-gray-600 dark:text-gray-400">SExploring Wellness Centers in Grand Rapids: What to Look For?</p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="group rounded-xl overflow-hidden" href="#">
          <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
            <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={blogthumb} alt="image" />
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900 hidden">Sponsored</span>
          </div>

          <div class="mt-7">
            <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">Look At The Ketamine Experiment On The Sheep’s Brain</h3>
            <p class="mt-3 text-gray-800 dark:text-gray-200">During the analysis of Huntington’s disease, different doses of the drug ketamine were given to sheep. Hence, these doses have revealed new insights about the effect of anaesthetic on their brain. This effect can do pain-numbing and reduce dissociative effects.</p>
            <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
              Read more
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </p>
          </div>
        </a>
      </div>

      <!-- Card -->
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->

  <Footer />
</Layout>
